/* Global Styles */
body {
  background-color: #222;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Dock Styles */
#dock {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

/* App Icon Styles */
.app-icon {
  width: 50px;
  height: 50px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-icon img {
  max-width: 100%;
  max-height: 100%;
}

.app-icon:hover {
  transform: scale(1.2);
}

/* Iframe Styles */
.iframe-container {
  position: relative;
}

.draggableIframe {
  width: 400px;
  height: 300px;
  border: 1px solid #fff;
  position: absolute;
  cursor: move;
  background-color: #444;
}

/* Iframe Top Bar Styles */
.iframe-top-bar {
  background-color: #666;
  padding: 7px 15px;
  border-bottom: 1px solid #fff;
  cursor: move;
  user-select: none;
}

.close-button {
  float: left;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

/* Top Bar Styles */
#top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

#top-bar h1 {
  margin: 0;
  font-size: 16px;
  margin-right: auto;
  margin-left: 20px;
}

/* Top Bar Icon Styles */
.top-bar-icon {
  width: 30px; /* Adjust the width and height as needed */
  height: 30px;
  margin-right: 10px; /* Adjust the spacing between the icon and text */
}
