#draggableIframe {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    position: absolute;
    cursor: move;
  }
  
  .iframe-top-bar {
    background-color: #ccc;
    padding: 5px;
    cursor: move;
  }

  .close-button {
    float: left;
    cursor: pointer;
  }