/* General Styles */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
}

#desktop {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.app-icon, .dock-icon  {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    border-radius: 50%;
    overflow: hidden;
}

.app-icon img, .dock-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.window {
    position: absolute;
    border: 1px solid #666;
    background-color: #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1;
    width: 60%;
    height: 60%;
    resize: both;
    overflow: auto;
}

.window-content {
    padding: 10px;
    width: 100%;
    height: calc(100% - 30px);
}

.window-header {
    background-color: #444;
    padding: 5px;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.window-title {
    flex-grow: 1;
    text-align: center;
}

#dock {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#menu-bar {
    width: 100%;
    height: 30px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#title {
    color: #fff;
    font-weight: bold;
}

#system-controls {
    display: flex;
}

.control {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.control:hover {
    opacity: 0.7;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 30px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.show {
    display: block;
    opacity: 1;
}

.close-button {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.close-button:hover {
    opacity: 0.7;
}
