/* Your existing CSS styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #242424;
    /* Dark mode background color */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* New styles for the top bar */
.top-bar {
    background-color: #1e1e1e;
    /* Dark mode top bar background color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    /* Adjust top bar height */
    padding: 0 20px;
    /* Add padding to the top bar */
    animation: slideInTop 1s ease forwards;
    opacity: 0;
}

@keyframes slideInTop {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.top-bar img {
    width: 30px;
    /* Adjust icon size */
    height: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    /* Wrap items to new line if needed */
    margin-bottom: 100px;
    /* Adjust spacing between app grid and footer */
}

.app-grid {
    display: flex;
    flex-wrap: wrap;
    /* Wrap app icons to new line if needed */
    gap: 10px;
    /* Adjust the gap between app icons */
    padding: 10px;
    /* Add padding around the app grid */
}

.app-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    animation: slideInRight 1s ease forwards;
    opacity: 0;
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.app-icon img,
.dock-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* Maintain aspect ratio and fit within the container */
    max-width: 100%;
    /* Ensure the image does not exceed its container */
    max-height: 100%;
    border-radius: 50%;
}

footer {
    background-color: rgba(56, 56, 56, 0.8);
    /* Dark mode footer background color with transparency */
    backdrop-filter: blur(10px);
    /* Apply a blur effect to the background */
    display: flex;
    justify-content: space-around;
    /* Center dock items horizontally with equal space between */
    align-items: center;
    height: 80px;
    /* Increased height for phone-like dock */
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: slideInBottom 1s ease forwards;
    opacity: 0;
}

@keyframes slideInBottom {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.dock-item {
    width: 60px;
    /* Adjust width for each dock item */
    height: 60px;
    /* Keep height consistent */
    cursor: pointer;
    border-radius: 50%;
    /* Make the dock items more rounded */
    overflow: hidden;
    /* Ensure content within the dock items stays within bounds */
    transition: transform 0.3s ease;
    /* Add transition for smoother animation */
    margin: 0 3px;
    /* Add a small margin to create space between dock items */
}

/* Hover effect for dock items */
.dock-item:hover {
    transform: scale(1.1);
    /* Scale up the dock item on hover */
}

/* Animation for opening an app */
.app-grid .app-icon {
    transition: transform 0.3s ease;
    /* Add transition for smoother animation */
}

.app-grid .app-icon:hover {
    transform: scale(1.1);
    /* Scale up the app icon on hover */
}