/* CSS for Wi-Fi list animation */
.wifi-list {
    padding: 20px;
    animation: slideIn 1s ease-out forwards;
    opacity: 0;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Additional styling for individual Wi-Fi networks */
.wifi-network {
    background-color: #444;
    color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    opacity: 0; /* Initial opacity for individual networks */
    animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
