body {
    background-color: rgb(198, 123, 198);
    color: #fff; /* Light text color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #555; /* Darker container background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Lighter shadow color */
    text-align: center;
}

input {
    padding: 8px;
    margin: 10px 0;
    width: 200px;
    border: 1px solid #777; /* Slightly lighter border color */
    border-radius: 4px;
    background-color: #666; /* Darker input background color */
    color: #fff; /* Light text color */
}

button {
    padding: 8px 16px;
    background-color: #007bff; /* Accent color */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.login-container {
    animation: slideIn 1.5s forwards;
}

body {
    animation: fadeIn 2s ease-in-out;
}


@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.login-container {
    animation: slideIn 1.5s forwards;
}

body {
    animation: fadeIn 2s ease-in-out;
}
    