body {
    background-color: #242424;
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    font-family: Arial, sans-serif;
    /* Use a default font */
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    /* Use flexbox to align items */
    justify-content: space-between;
    /* Space between items */
    align-items: center;
    /* Center items vertically */
}

.close-button {
    cursor: pointer;
    margin-right: 10px;
    /* Add margin to the right */
}

.close-button img {
    width: 24px;
    /* Adjust width as needed */
    height: 24px;
    /* Adjust height as needed */
}

.app-name {
    flex-grow: 1;
    /* Take up remaining space */
    text-align: center;
    /* Center text */
}

/* Add styles for search results */
.search-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding: 20px;
}

.search-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-size: 14px;
}

.search-result img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

/* Additional styles can be added as needed */