body {
    background-color: black;
    transition: background-color 2s; /* Add a smooth transition effect for background */
}

#loading-image {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 1s ease; /* Add a smooth transition effect for logo */
}