body {
    font-family: Arial, sans-serif;
    background-color: #3d3939;
    text-align: center;
}

.app {
    background-color: #1d1c1c;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    max-width: 320px;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
}

h2 {
    margin-top: 10px;
    font-size: 1.2em;
}

button {
    background-color: #7917ca;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
}
