<div class="app">
    <img src="../Minecraft/photos/icon.png" alt="Minecraft Icon">
    <h2>Minecraft (removed)</h2>
    <h4>This app was abonaded because it broke the input.</h4>
    <button onclick="">Launch (you will need reopen the app)</button>
    <button onclick="">Launch (Movement fixed)</button>
</div>