body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Hide overflow during loading animation */
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    text-align: center; /* Center align content */
    opacity: 0; /* Initially hide content */
    transition: opacity 0.5s ease; /* Add transition for opacity */
}
h1 {
    text-align: center;
}
p {
    text-align: center;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #7e57c2; /* Purple accent color */
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px auto; /* Center the buttons horizontally */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add transition for background color */
}
.button:hover {
    background-color: #5d4ac6; /* Darker shade of purple on hover */
}
.status {
    transition: opacity 0.5s ease; /* Add transition for opacity */
}
.status.hidden {
    opacity: 0; /* Hide status initially */
}
