body {
    background-color: #1c1c1e;
    /* Dark background color */
    color: #ffffff;
    /* Light text color */
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.top-bar {
    background-color: #1c1c1e;
    /* Dark background color for top bar */
    color: #ffffff;
    /* Light text color for top bar */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    cursor: pointer;
    margin-right: 10px;
}

.close-button img {
    width: 24px;
    height: 24px;
}

.app-name {
    flex-grow: 1;
    text-align: center;
}

.notes-container {
    margin: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

textarea {
    flex-grow: 1;
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 10px;
    resize: vertical;
    background-color: #1c1c1e;
    /* Dark background color for textarea */
    color: #ffffff;
    /* Light text color for textarea */
    border: none;
    /* No border */
    outline: none;
    /* No outline */
    font-size: 18px;
    /* Font size */
    padding: 10px;
    /* Padding */
    font-family: inherit;
    /* Inherit font family */
}

button {
    width: calc(100% - 40px);
    margin: 0 20px 20px 20px;
    padding: 15px 0;
    background-color: #007AFF;
    /* Blue background color for button */
    color: #ffffff;
    /* Light text color for button */
    border: none;
    /* No border */
    cursor: pointer;
    border-radius: 12px;
    /* Rounded corners */
    font-size: 18px;
    /* Font size */
    font-weight: bold;
    /* Bold font */
    outline: none;
    /* No outline */
}

button:hover {
    background-color: #0056b3;
    /* Darker blue background color on hover */
}