body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #151515;
  }
  
  .error-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .error-message {
    text-align: center;
    background-color: #ff0000;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .error-message h1 {
    font-size: 36px;
    margin: 0;
  }
  
  .error-message p {
    margin: 10px 0;
  }
  
  .error-message code {
    background-color: #000000;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 5px;
  }
  
  .error-message strong {
    font-weight: bold;
  }
  
  .error-message strong, .error-message strong a {
    color: #ffff00;
    text-decoration: none;
  }
  
  .error-message strong a:hover {
    text-decoration: underline;
  }
  