body {
    background-color: #242424;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-button {
    cursor: pointer;
    margin-right: 10px;
}

.close-button img {
    width: 24px;
    height: 24px;
}

.app-name {
    flex-grow: 1;
    text-align: center;
}

.terminal {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #242424;
}

.terminal-window {
    width: 90%;
    /* Adjusted width */
    height: 80%;
    /* Adjusted height */
    max-width: 800px;
    /* Adjust as needed */
    max-height: 600px;
    /* Adjust as needed */
    background-color: #000;
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden;
}

.terminal-body {
    padding: 10px;
}

.terminal-output {
    min-height: 100px;
    background-color: #000;
    color: #fff;
    font-family: monospace;
    overflow-y: auto;
    padding: 5px;
    margin-bottom: 10px;
}

.terminal-output p {
    margin: 5px 0;
}

#terminal-input {
    width: calc(100% - 22px);
    background-color: #000;
    color: #fff;
    border: none;
    outline: none;
    font-family: monospace;
    padding: 5px;
    margin: 0;
    line-height: 1;
    caret-color: #fff;
}

#terminal-input::placeholder {
    color: #999;
    height: inherit;
}