h1 {
    color: #663399; 
 }
 body {
     font-family: Arial, sans-serif;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;
     margin: 0;
     background-color: #121212; /* Dark mode background */
     color: white; /* Light text for contrast */
 }
 .search-bar form {
     display: flex;
     margin-bottom: 20px;
 }
 .search-bar input[type="text"] {
     width: 400px;
     padding: 10px;
     margin-right: 10px;
     border: none;
     border-radius: 5px;
 }
 .search-bar input[type="submit"] {
     padding: 10px 20px;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     background-color: #800080; /* Purple accent color */
     color: white;
 }
 .shortcuts {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 10px;
 }
 .shortcut {
     width: 100px;
     text-align: center;
     padding: 10px;
     background-color: #663399; /* Purple accent color with slight variation */
     border-radius: 10px;
 }
 .shortcut a {
     color: #ffffff; /* Purple accent color for links */
     text-decoration: none;
 }