body,
html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #333;
    /* Dark background */
    color: #fff;
    /* Light text */
}

.browser {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    padding: 8px;
    background-color: #1e1e1e;
    /* Darker shade for the header */
    display: flex;
    align-items: center;
    border-bottom: 1px solid #555;
    /* Slightly lighter border for contrast */
}

.header input[type=text],
.header button {
    background-color: #555;
    /* Dark background for inputs and buttons */
    border: 1px solid #777;
    /* Lighter border for contrast */
    color: #fff;
    /* Light text */
    padding: 5px 10px;
}

.header input[type=text] {
    flex-grow: 1;
    margin: 0 8px;
}

#webpageView {
    flex-grow: 1;
    background-color: #333;
    /* Dark background for the iframe */
    color: #fff;
    /* Light text for content within iframe, though actual content color is controlled by the webpage itself */
}

/* Styling for the back and forward buttons to use arrows */
.header button {
    cursor: pointer;
    font-size: 16px;
    /* Adjust the size as needed */
}

.header button:hover {
    background-color: #666;
    /* Lighter background on hover */
}

/* Reload button specific style (if needed) */
#reloadButton {
    font-size: 16px;
    /* Ensure it matches other buttons */
}