body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #333; /* Dark grey background */
}

#ipod {
    background-color: #000;
    border-radius: 35px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#screen {
    width: 210px;
    height: 170px;
    background-color: #383838;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}

#controls {
    display: flex;
    justify-content: space-around;
}

.button {
    width: 30px;
    height: 30px;
    border-radius: 1000%;
    background-color: #000000;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#prev, #next, #shuffle, #add-files, #play {
    background-color: #5c09c7;
    color: #fff;
}

#file-input {
    display: none;
}
