body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202124;
    color: #fff;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #555;
    border-radius: 10px;
    background-color: #333;
    animation: slideIn 0.5s ease-in-out;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h1 {
    text-align: center;
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    margin-bottom: 10px;
    color: #bbb;
}
.setting {
    padding: 10px;
    border-bottom: 1px solid #555;
}
.setting:last-child {
    border-bottom: none;
}
.setting label {
    display: inline-block;
    width: 200px;
    color: #bbb;
}
.setting input[type="text"], .setting input[type="password"] {
    width: calc(100% - 220px);
    padding: 5px;
    margin-left: 10px;
    background-color: #444;
    color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
}
.setting input[type="submit"] {
    margin-left: 200px;
    padding: 8px 20px;
    background-color: #9b59b6; /* Purple accent color */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#doneMessage {
    display: none;
    text-align: center;
    margin-top: 10px;
    color: #00ff00; /* Green color for "Done" message */
}
