body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #eee;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
h1 {
    margin-top: 0;
    font-size: 24px;
    color: #b366ff; /* Purple accent color */
}
h2 {
    color: #b366ff; /* Purple accent color */
}
p {
    font-size: 16px;
}
