body {
    background-color: #242424;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 10px; /* Center the button and add 10px bottom margin */
}

.close-button {
    cursor: pointer;
    margin-right: 10px;
}

.close-button img {
    width: 24px;
    height: 24px;
}

.app-name {
    flex-grow: 1;
    text-align: center;
}

.about-button, .wifi-button {
    background-color: #464849;
    color: #fff;
    border: none;
    width: 200px; /* Increase width for larger buttons */
    height: 60px; /* Adjust height as needed */
    border-radius: 30px; /* Make it more rounded */
    cursor: pointer;
    display: block;
    font-weight: bold;
    font-size: 18px; /* Decrease font size */
    padding: 15px; /* Adjust padding */
}

.wifi-button, .about-button {
    margin-left: auto; /* Push the "Wi-Fi" button to the left */
    margin-right: auto; /* Push the "Wi-Fi" button to the right */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Align items vertically */
    transition: transform 0.3s ease;
    justify-content: center; /* Center items horizontally */
}

/* Center both buttons */
.about-button, .wifi-button {
    margin: 0 auto 10px; /* Center the buttons and add 10px bottom margin */
}

.about-button:hover, .wifi-button:hover {
    background-color: #303031;
}

.button-icon {
    width: 30px; /* Adjust the width as needed */
    height: 30px; /* Adjust the height as needed */
    margin-right: 10px; /* Add some space between the icon and text */
}

.about-button:hover, .wifi-button:hover {
    background-color: #303031;
    transform: scale(1.1); /* Scale the button up by 10% on hover */
}

.about-button:hover, .wifi-button:hover {
    background-color: #303031;
    transform: scale(1.1); /* Scale the button up by 10% on hover */
}

